:root{
    --light-body-background: #FFFAFA;
    --dark-body-background: #373737;
    --snow: #fffafa;
    --black: #000;
    --gray: #373737;
    --gray-mid: #494949;
    --gray-light: #D7D7D7;
    --pink: #ff388a;
    --pink-mid: #ff60a1;
    --pink-light: #ff92bf;
    --blue: #10B3FF;
    --blue-mid: #33bbff;
    --blue-light: #73d0ff;
    --yellow: #f5b700;
    --yellow-light: #f8d15c;
    --yellow-mid: #f7c533;
}

body{
    background-color: var(--light-body-background);
    margin: 0px;

    font-family: 'Noto Sans JP';
}

a{
    text-decoration: none;
    color: black;
}

#navbar{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;

    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    display: none;
}

#wrapper{
    display: flex;
    flex-direction: column;
}

#blank{
    height: 10vh;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    word-wrap: normal;
    height: 10vh;
}

#buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

#buttons a{
    font-size: 2rem;

    padding: 8px 24px 8px 24px;
    border-radius: 8px;
    border: 2px dashed black;
}

#buttons a:hover{
    color: var(--snow);
}

footer{
    position: fixed;
    bottom: 0px;
    color: var(--snow);
    display: none;
}

footer::selection{
    background-color: var(--gray);
    color: var(--pink-light);
}

.bgcolor-blue:hover{
    background-color: var(--blue-light);
    text-shadow: 0px 0px 2px black;
}

.bgcolor-yellow:hover{
    background-color: var(--yellow-light);
    text-shadow: 0px 0px 2px black;
}

.bgcolor-green:hover{
    background-color: #61E2DB;
    text-shadow: 0px 0px 2px black;
}