body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-family: 'Noto Sans JP';
    font-size: 3em;

    background-color: #373737;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: #141414;
    padding: 12px;
}