:root{
    --snow: #fffafa;
    --black: #000;
    --gray: #373737;
    --gray-mid: #494949;
    --gray-light: #D7D7D7;
    --pink: #ff388a;
    --pink-mid: #ff60a1;
    --pink-light: #ff92bf;
    --blue: #10B3FF;
    --blue-mid: #33bbff;
    --blue-light: #73d0ff;
    --yellow: #f5b700;
    --yellow-light: #f8d15c;
    --yellow-mid: #f7c533;
}

body{
    font-family: 'Noto Sans JP';
    background-color: var(--snow);
    color: var(--black);
    margin: 0px;
}

a{
    text-decoration: none;
    color: var(--pink);
}

a:hover{
    color: var(--blue);
}

#navbar{
    
}

#navbar a{
    padding-left: 12px;
}

#title, #subtitle{
    text-align: center;
}
#title{
    font-size: 3rem;
}

#wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    position: fixed;
    bottom: 0px;
    color: var(--snow);
    display: none;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.char{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    margin: 4px;

    font-size: 2rem;

    border-radius: 50%;

    /* text-shadow: 1px 1px 2px var(--snow); */
}

.empty{
    background-color: var(--gray-light);
}

.hiragana{
    background-color: var(--blue-light);

    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.katakana{
    background-color: var(--yellow-light);

    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.exception{
    background-color: var(--pink-light);
}

.hiragana:hover{
    transform: scale(1.5);
    background-color: var(--blue);
    cursor: none;
}

.katakana:hover{
    transform: scale(1.5);
    background-color: var(--yellow);
    cursor: none;
}

.exception:hover{
    background-color: var(--pink-mid);
}

@media (max-width: 416px){
    #navbar{
        display: none;
    }
}


