body{
    font-family: 'Noto Sans JP';
    background-color: #373737;
    color: white;
}

#title, #subtitle{
    text-align: center;
}
#title{
    font-size: 3em;
}

#wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.char{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;

    margin: 12px;

    font-size: 3em;

    border-radius: 50%;

    text-shadow: 1px 1px 2px #373737;
}

.empty{
    background-color: #494949;
}

.hiragana{
    background-color: #73D0FF;
    
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.katakana{
    background-color: #F8D15C;
    
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.exception{
    background-color: #FF92BF;
}

.hiragana:hover{
    transform: scale(1.5);
    background-color: #00aaff;
    cursor: none;
}

.katakana:hover{
    transform: scale(1.5);
    background-color: #F5B700;
    cursor: none;
}

.exception:hover{
    background-color: #FF388A;
}


